<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="USBScaleReader Test Suite">
            <directory>tests/USBScaleReader/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/USBScaleReader/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="-1" />
    </php>
</phpunit>
